/*@@@@@@@@@@@@@@@@@@@@ COMMON @@@@@@@@@@@@@@@@@@@@*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #30488F;
  text-decoration: none;
}

body {
  color: $text_color_default;
  font-family: $font_family;
  font-size: $font_size_default;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 400;
  margin: 50px 0;
}

.btn,
li .btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: $font_size_btn;

  & svg {
    margin-right: 5px;
  }
}

.btn-primary {
  padding: 10px;
  @include btn_colors($btn_main_bg, $btn_main_text_color);

  &:hover {
    background-color: $btn_main_bg_hover;
  }
}

.btn-secondary {
  border: 1px solid $text_color_default;

  &:hover {
    @include btn_colors($btn_second_bg_hover, $btn_second_text_color_hover);
  }

  &:hover svg path {
    fill: #fff !important;
  }
}

.btn-span {
  float: right;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 75%;
  margin: auto;
}

.container-large {
  width: 90%;
  margin: auto;
}
