.cookie-bar {
  height: 2.5em;
  background-color: $bg_color_secondary;
  font-size: 12px;
  text-align: center;

  p {
    line-height: 2.5em;
  }

  a {
    color: $link_color;

    &:hover {
      color: $link_color_hover;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.header-right li {
  display: inline-block;
  font-size: $font_size_btn;

   &:not(last-child) {
     padding-right: 10px;
   }
}
