$bg_color_main: #ffe7d2;
$btn_color_main: #30488f;
$btn_color_main_hover: #233569;
$font_family: 'Roboto', sans-serif;
$font_size: 16px;
// $footer_li_hover: ;
$link_color: #30488F;
$link_color_hover: #263972;
