$bg_color_main: #fff;
$bg_color_secondary: #ffe7d2;
$btn_main_bg: #30488f;
$btn_main_bg_hover: #233569;
$btn_main_text_color: #fff;
$btn_second_bg_hover: #30488f;
$btn_second_text_color_hover: #fff;;
$font_family: 'Roboto', sans-serif;
$font_size_default: 16px;
$font_size_btn: 0.9em;
// $footer_li_hover: ;
$link_color: #30488F;
$link_color_hover: #263972;
$text_color_default: #58402c;
